body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark {
  background-color: #f49d1a !important;
}

.bg-black {
  background-color: #100f0f !important;
}
.nav-link {
  font-weight: bold;
  color: crimson;
}

.row {
  --bs-gutter-x: 0;
}

.abz input,
.abz textarea,
.abz select {
  border: 2px solid #f49d1a !important;
}
